SOCKS5_PORT=1080
HTTP_PORT=8080
REQUIRE_AUTH=true
PROXY_USER=test
PROXY_PASSWORD=test

# WireGuard config - copia ogni riga dal file .conf del provider
WG_INTERFACE_PRIVATE_KEY=metti_qui_la_tua_PrivateKey
WG_INTERFACE_ADDRESS=metti_qui_la_tua_Address
WG_INTERFACE_DNS=metti_qui_il_tuo_DNS
WG_PEER_PUBLIC_KEY=metti_qui_la_tua_PublicKey
WG_PEER_ALLOWED_IPS=0.0.0.0/0, ::/0
WG_PEER_ENDPOINT=metti_qui_il_tuo_Endpoint
WG_PEER_PERSISTENT_KEEPALIVE=25
